<article class="result result-box">
  <ul class="result-list">
    @switch (requestedProperty) {
      @case ('dimensions') {
        @if (requestedDimension === 'ratio') {
          <li class="result-list-item">
            <div class="result-list-item-title">
              <mat-icon svgIcon="width"></mat-icon>
              <p>Largeur / hauteur</p>
            </div>
            <div class="result-list-item-value important-value">
              <p>
                {{ duct.width.getValue() | number: '1.0-0' }} {{ duct.width.unit }} /
                {{ duct.height.getValue() | number: '1.0-0' }} {{ duct.height.unit }}
              </p>
            </div>
          </li>
        }
        @else if (requestedDimension === 'knownSize') {
          <li class="result-list-item">
            <div class="result-list-item-title">
              <mat-icon svgIcon="width"></mat-icon>
              <p>Côté</p>
            </div>
            <div class="result-list-item-value important-value">
              <p>
                {{ calculatedSideSize | number: '1.0-0' }} mm
              </p>
            </div>
          </li>
          <li class="result-list-item">
            <div class="result-list-item-title">
              <mat-icon svgIcon="ratio"></mat-icon>
              <p>Ratio</p>
            </div>
            <div class="result-list-item-value">
              <p>
                {{ duct.ratio.getValue() | number: '1.1-1' }}
              </p>
            </div>
          </li>
        }
      }
      @case ('flowrate') {
        <li class="result-list-item">
          <div class="result-list-item-title">
            <mat-icon svgIcon="{{ airflow.flowrate.icon }}"></mat-icon>
            <p>Débit</p>
          </div>
          <div class="result-list-item-value important-value">
            <p>{{ airflow.flowrate.getValue() | number: '1.0-0' }} {{ airflow.flowrate.unit }}</p>
          </div>
        </li>
      }
      @case ('flowspeed') {
        <li class="result-list-item">
          <div class="result-list-item-title">
            <mat-icon svgIcon="{{ airflow.flowspeed.icon }}"></mat-icon>
            <p>Vitesse</p>
          </div>
          <div class="result-list-item-value important-value">
            <p>{{ airflow.flowspeed.getValue() | number: '1.0-2' }} {{ airflow.flowspeed.unit }}</p>
          </div>
        </li>
      }
    }
    <li class="result-list-item">
      <div class="result-list-item-title">
        <mat-icon svgIcon="{{ linearApd.icon }}"></mat-icon>
        <p>{{ linearApd.displayName }}</p>
      </div>
      <div class="result-list-item-value">
        <p>{{ linearApd.getValue() | number: '1.2-2' }} {{ linearApd.unit }}/m</p>
      </div>
    </li>
  </ul>
  <div class='valid-button'>
    <button mat-flat-button (click)="goToApdSelector()">
      <mat-icon>check</mat-icon>
      Validez ces caractéristiques
    </button>
  </div>
</article>

<article class="setup-wrapper">
  @if (requestedProperty !== 'dimensions') {
    <div>
      <app-width-slider class="slider" (onWidthChange)="handleWidthChange($event)"></app-width-slider>
    </div>
    <div>
      <app-height-slider class="slider" (onHeightChange)="handleHeightChange($event)"></app-height-slider>
    </div>
  }
  @if (requestedProperty !== 'flowrate') {
    <div>
      <app-flowrate-slider class="slider" (onFlowrateChange)="handleFlowrateChange($event)"></app-flowrate-slider>
    </div>
  }
  @if (requestedProperty !== 'flowspeed') {
    <div>
      <app-flowspeed-slider class="slider" (onFlowspeedChange)="handleFlowspeedChange($event)"></app-flowspeed-slider>
    </div>
  }
  @if (requestedProperty !== 'flowrate' && requestedProperty !== 'flowspeed') {
    @if (requestedDimension === 'ratio') {
      <div>
        <app-ratio-slider class="slider" (onRatioChange)="handleRatioChange($event)"></app-ratio-slider>
      </div>
    } @else if (requestedDimension === 'knownSize') {
      <div>
        <app-knowside-slider class="slider" (onKnownSideChange)="handleKnownSideSizeChange($event)"></app-knowside-slider>
      </div>
    }
  }
</article>

<article class="property-selector">
  <mat-button-toggle-group [formControl]="requestedPropertyControl" (change)="toggleRequestedProperty()">
    <mat-button-toggle value="flowrate">
      Débit
    </mat-button-toggle>
    <mat-button-toggle value="dimensions">
      Dimensions
    </mat-button-toggle>
    <mat-button-toggle value="flowspeed">
      Vitesse
    </mat-button-toggle>
  </mat-button-toggle-group>
</article>

@if (requestedProperty === 'dimensions') {
<article class="property-selector">
  <mat-button-toggle-group [formControl]="requestedDimensionControl" (change)="toggleRequestedDimension()">
    <mat-button-toggle value="ratio">
      Ratio
    </mat-button-toggle>
    <mat-button-toggle value="knownSize">
      Côté connu
    </mat-button-toggle>
  </mat-button-toggle-group>
</article>
}

<article class="material-selector">
  <mat-icon svgIcon="material"></mat-icon>
  <mat-form-field>
    <mat-label>Matériau</mat-label>
    <mat-select [formControl]="materialControl" (selectionChange)="handleMaterialChange()">
    @for (material of materialList; track $index) {
      <mat-option value="{{ material.name }}">{{ material.displayName }}</mat-option>
    }
    </mat-select>
  </mat-form-field>
</article>
