<div class="wrapper">
  <section class="apd-section">
    <article class="apd-result">
      <div class="apd-result-title">
        <mat-icon svgIcon="total_apd"></mat-icon>
        <p>Pdc totales</p>
      </div>
      <div>
        <p>{{ totalApd | number: '1.2-2' }} Pa</p>
      </div>
    </article>
  </section>

  <mat-divider></mat-divider>

  <section class="apd-section">
    <article class="apd-result">
      <div class="apd-result-title">
        <mat-icon svgIcon="linear_apd"></mat-icon>
        <p>PdC linéaires</p>
      </div>
      <div>
        <p>{{ apd.linearApd.getValue() | number :'1.2-2' }} {{ apd.linearApd.unit }}</p>
      </div>
    </article>
    <article class="linear-apd-setup">
      <div>
        <app-length-slider class="slider" (onLengthChange)="handleLengthChange($event)"></app-length-slider>
      </div>
    </article>
  </section>

  <mat-divider></mat-divider>

  <section class="apd-section singular-apd-section">
    <article class="apd-result">
      <div class="apd-result-title">
        <mat-icon svgIcon="singular_apd"></mat-icon>
        <p>PdC singulières</p>
      </div>
      <div>
        <p>{{ apd.singularApd.getValue() | number :'1.2-2' }} {{ apd.singularApd.unit }}</p>
      </div>
    </article>

    <article class="singularity-selection">
      @for (singularity of singularities.getSingularities(); track singularity) {
        <div class="singularity-item">
          <mat-icon class="singularity-item__icon" svgIcon="{{ singularity.getIcon() }}"></mat-icon>
          <div class="singularity-item__content">
            <h5>{{ singularity.getDisplayName() }}</h5>
            <div class="singularity-item__content__setup">
              <div class="singularity-item__content__setup__result">
                {{ calculateSingularApdByQuantity(singularity) | number: '1.2-2' }} Pa
              </div>
              <div class="singularity-item__content__setup__form">
                <p>{{ singularity.getQuantity() }}</p>
                <button mat-mini-fab (click)="handleRemoveSingularityQuantity(singularity)"><mat-icon>remove</mat-icon></button>
                <button mat-mini-fab (click)="handleAddSingularityQuantity(singularity)"><mat-icon>add</mat-icon></button>
              </div>
            </div>
          </div>
        </div>
      }
    </article>
  </section>
</div>
