mat-divider {
  margin: 8px 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.nav-section {
  display:flex;
  justify-content: space-between;
  gap:4px;
  margin: 8px 16px;
}

.apd-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin: 0 16px;
}

.apd-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  /* outline: solid 1px lightgray; */
  border-radius: 8px;
  /* background-color: #d1e4ff;
  box-shadow: 4px 4px 4px lightgrey; */
}

.total-result {
  padding: 16px;
  font-size: larger;
  font-weight: 500;
}

.apd-result-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.important-value {
  background-color: #2ea0ff80;
  padding: 4px;
  border-radius: 4px;
  font-size: larger;
  font-weight: 500;
}

.linear-apd-setup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 4px 0;
}

.slider {
  width: 100%;
}

.singular-apd-section {
  flex-grow: 1;
  height: auto;
  justify-content: start;
  overflow-y: hidden;
  margin-bottom: 16px;
}

.singularity-selection {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.singularity-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.singularity-item__icon {
  width: 42px;
  height: 42px;
}

.singularity-item__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.singularity-item__content h5 {
  font-size: medium;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
}

.singularity-item__content h5::first-letter {
  text-transform: capitalize;
}

.singularity-item__content__setup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.singularity-item__content__setup__result {

}

.singularity-item__content__setup__form {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 8px;

}

.singularity-item__content__setup__form p {
  background-color:lightgrey;
  color: black;
  text-align: end;
  width: 30px;
  padding: 4px;
  border-radius: 4px;
  font-weight: 500;
}

.additional-apd-selection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.additional-apd-selection button {
  width: 100%;
}

.additional-apd-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.additional-apd-item__commands {
  display: flex;
  gap: 8px;
}

.additional-apd-item__commands span {
  width: 40px;
}
