p {
  margin-bottom: 0;
}

mat-divider {
  margin: 8px 16px;
}

.apd-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin: 0 16px;
}

.apd-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.apd-result-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.linear-apd-setup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 4px 0;
}

.slider {
  width: 100%;
}

.singularity-selection {
  width: 100%;
}

mat-panel-title mat-icon {
  padding-right: 8px;
}

.singularity-setup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singularity-setup  p, button {
  margin-bottom: 20px;
}

.singularity-setup__quantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.singularity-setup__quantity__input {
  width: 64px;
}

