.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 16px;
  margin-bottom: 16px;
  padding: 8px;
  outline: solid 1px lightgray;
  border-radius: 8px;
  background-color: #d1e4ff;
  box-shadow: 4px 4px 4px lightgrey;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin: 8px 0;
}

.result-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.result-list-item p {
  margin: 0;
}

.result-list-item-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.result-list-item-value {
}

.important-value {
  background-color: #2ea0ff80;
  padding: 4px;
  border-radius: 4px;
  font-size: larger;
  font-weight: 500;
}

.mat-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.valid-button {
  display: flex;
  justify-content: center;
}

.setup-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
}

.slider {
  width: 100%;
}

.property-selector {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
}

.material-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px 16px;
  margin-bottom: -20px;
}

.material-selector mat-icon {
  width: 36px;
  height: 36px;
  padding-bottom: 20px;
}

.material-selector mat-form-field {
  width: 100%;
}
