.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 16px;
  margin-bottom: 16px;
  margin: 0 16px;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin: 8px 0;
}

.result-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.result-list-item p {
  margin: 0;
}

.result-list-item-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.setup-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
}

.slider {
  width: 100%;
}

.property-selector {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
}
