<h3 class="overview-title">Récapitulatif de la sélection</h3>
<section class="overview">
  <article class="overview-section">
    <div class="overview-technical">
      <mat-icon svgIcon="{{ duct.shape.getIcon() }}"></mat-icon>
      <p>Forme : {{ duct.shape.valueDisplayName }}</p>
    </div>
  @if (duct.shape.getValue() === 'circular') {
    <div class="overview-technical">
      <mat-icon svgIcon="{{ duct.diameter?.icon }}"></mat-icon>
      <p>Diamètre : {{ duct.diameter?.getValue() }} {{ duct.diameter?.unit }}</p>
    </div>
  } @else if (duct.shape.getValue() === 'rectangular') {
    <div class="overview-technical">
      <mat-icon svgIcon="{{ duct.width?.icon }}"></mat-icon>
      <p>Largeur : {{ duct.width?.getValue() | number: '1.0-0' }} {{ duct.width?.unit }}</p>
    </div>
    <div class="overview-technical">
      <mat-icon svgIcon="{{ duct.height?.icon }}"></mat-icon>
      <p>Hauteur : {{ duct.height?.getValue() | number: '1.0-0' }} {{ duct.height?.unit }}</p>
    </div>
    <div class="overview-technical">
      <mat-icon svgIcon="{{ duct.ratio?.icon }}"></mat-icon>
      <p>Ratio : {{ duct.ratio?.getValue() | number: '1.2-2' }}</p>
    </div>
  }
  </article>
  <mat-divider></mat-divider>
  <article class="overview-section">
    <div class="overview-technical">
      <mat-icon svgIcon="{{ airflow.flowrate.icon }}"></mat-icon>
      <p>Débit : {{ airflow.flowrate.getValue() }} {{ airflow.flowrate.unit }}</p>
    </div>
    <div class="overview-technical">
      <mat-icon svgIcon="{{ airflow.flowspeed.icon }}"></mat-icon>
      <p>Débit : {{ airflow.flowspeed.getValue() }} {{ airflow.flowspeed.unit }}</p>
    </div>
  </article>

  <article class="overview-section">
    <button mat-stroked-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Annulez
    </button>
    <button mat-flat-button (click)="goToApdSelector()">
      <mat-icon>arrow_forward</mat-icon>
      Pertes de charges
    </button>
  </article>
</section>
