@media (min-width: 640px) {
  main {
    margin:  0 12%;
  }
}

@media (min-width: 768px) {
  main {
    margin:  0 18%;
  }
}

@media (min-width: 1024px) {
  main {
    margin:  0 26%;
  }
}

@media (min-width: 1280px) {
  main {
    margin:  0 34%;
  }
}
