<div class="header-wrapper">
  <div class="header">
    <mat-icon svgIcon="{{ ratio.icon }}"></mat-icon>
    <p>{{ratio.displayName}}</p>
  </div>
  <div class="content-wrapper">
    <p><span class="value">{{ ratioControl.value | number: '1.1-1' }}</span></p>
  </div>
</div>
<div class="slider-wrapper">
  <button mat-mini-fab (click)="decreaseValue()">
    <mat-icon>remove</mat-icon>
  </button>
  <mat-slider
    max="10"
    min="1"
    step="0.1"
    (change)="handleChange()">
    <input matSliderThumb [formControl]="ratioControl" >
  </mat-slider>
  <button mat-mini-fab (click)="increaseValue()">
    <mat-icon>add</mat-icon>
  </button>

</div>
